name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - run: sudo apt-get update
    - run: 'sudo apt-get install -y flake8 gettext gir1.2-gtk-3.0 python3 python3-dev python3-gi python3-pytest xvfb
        '
    - run: gem install bundler
    - run: bundle install --jobs=3 --retry=3
    - run: flake8 .
    - run: xvfb-run py.test-3 nfoview
    - run: python3 setup.py install --prefix=/tmp/local
    - run: python3 setup.py install --root=/tmp/pkg
    - run: python3 setup.py clean
