name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: # this agent type is not supported: [[{"dist"=>"trusty"}]]
             ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
    - name: Set up pip cache
      uses: actions/cache@v3.3.2
      with:
        path: "~/.cache/pip"
        key: "${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}"
        restore-keys: "${{ runner.os }}-pip-"
#     # 'sudo' was not transformed because there is no suitable equivalent in GitHub Actions
    - run: pip install pyusb coverage coveralls pyserial PyYAML tqdm
    - run: python setup.py build
    - run: coverage run --source=stcgal setup.py test
    - run: coveralls
    strategy:
      matrix:
        python:
        - '3.8'
        - '3.8'
        - '3.8'
