name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
#     # 'sudo' was not transformed because there is no suitable equivalent in GitHub Actions
    - run: pip install poetry
    - run: poetry install -q
    - run: poetry run pip install -q $DJANGO
    - run: poetry run python -m pytest
    strategy:
      matrix:
        DJANGO:
        - Django>=2.2,<2.3
        - Django>=3.0,<3.2
        - Django>=3.2,<3.3
        python:
        - '3.8'
        - '3.8'
        - '3.9'
        - pypy-3.6
    services:
      mongodb:
        image: mongo
    env:
      DJANGO: "${{ matrix.DJANGO }}"
