name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
    - run: sudo apt-get -qq update
    - run: sudo apt-get install -y libicu-dev
    - run: pip install -e .
    - run: pip install pyicu coverage nose twine
    - run: nosetests --with-coverage --cover-package=fingerprints --cover-erase
    - run: if [[ ${{ github.ref }} = ${{ github.ref }} ]]; then python setup.py sdist bdist_wheel ; twine upload dist/* ; fi
      if: "${{ success() }}"
    strategy:
      matrix:
        python:
        - '3.8'
        - '3.8'
