name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
    - run: pip install flake8
    - run: pip install -r requirements.txt
    - run: python setup.py test
    - run: flake8 --max-line-length 120 *.py
#     # This item has no matching transformer
#     - email: false
    strategy:
      matrix:
        python:
        - '3.8'
        - '3.8'
  test_2:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: '3.8'
#     # 'sudo' was not transformed because there is no suitable equivalent in GitHub Actions
    - run: pip install flake8
    - run: pip install -r requirements.txt
    - run: python setup.py test
    - run: flake8 --max-line-length 120 *.py
#     # This item has no matching transformer
#     - email: false
