name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
    - run: pip install -r dev-requirements.txt
    - run: make clean
    - run: make pep8
    - run: make flake8
    - run: make check
    - run: make unittest
    - run: coveralls
      if: "${{ success() }}"
#     # This item has no matching transformer
#     - email:
#       - eosplus-dev@arista.com
    strategy:
      matrix:
        python:
        - '3.8'
        - '3.9'
