name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
#     # 'sudo' was not transformed because there is no suitable equivalent in GitHub Actions
    - run: pip install -r requirements.txt
    - run: pytest
#     # This item has no matching transformer
#     - pypi:
#         provider: pypi
#         skip_existing: true
#         distributions: sdist bdist_wheel
#         user: __token__
#         password:
#           secure: ZZ0w9ZIdsj14xFGmHJfsN/pcKsaOWmrNzTO4F9yZsfWqMZ7HX2oBKyqYcGcIad4oyLoBKjpYxAX5TdTJvXQ3BE5L+nc/l8GQuLMiXLo3q37V/1XtZjCoXd6IXWSN1xnYsOGUkxKbp/FRIL8poqw4ZlEd7tJmxUZJU1rG8vHllBY4fT5tPBwYiivIncWUVtFef+midLLyrkJoU+OTeQX8DNjevUGPkEZ6wV58GMM3DQXWSCmwyZyLyyhFxp7AWUAQNwuAnXQZYrkAyjSyXofmGS/dSgx+4FJcXkRG05apF2ESUCV4/BNE0SurWYn4jNe5gnBY2HcVwFMuUcOiCkyy0jeaqEtNF8g/EG9ndQVqgNs/TeY3eJmSoLlVm4FjxGGFioswWMg1JfU0G0Lh2S9Tg7uRlxgY6MG2rGVrNGSAUfiM4axOEWSlD8fKpHF2u95GlE+vCa0t0+lj4oHASlwVdpnQwC+f1zSPafUEvoS00pQW2pBSeSZTmii4mxk6TZ28TTDiVHecsEBjES0LXqqbWt/PzFtQM26JTSDghGzCQqxQle4FmUQdKZThNQh62xxf3.8UQDGIRalSNIIxEZPQEaFATWxZqIxZXvSDDXYFhh2JeO7jWC6F8/PS4ve0pET+GSQuUAToSPOutDYFHr6CNY24+OWicWq0M5KaZTpZdrg=
#         'on':
#           tags: true
#           branch: main
#       if: "${{ github.event_name == 'push' && ${{ github.ref }} }}"
    strategy:
      matrix:
        python:
        - '3.8'
        - '3.8'
        - '3.8'
        - '3.8'
