name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - run: sudo apt-get update
    - run: sudo apt install python3-pip
    - run: sudo pip3 install -r requirements.txt
    - run: sudo pip3 install tox
    - run: tox
