name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
env:
  PIP_CACHE_DIR: "${{ github.workspace }}/.cache/pip"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
    - run: rm -f ${{ github.workspace }}/.cache/pip/log/debug.log
    - name: Set up pip cache
      uses: actions/cache@v3.3.2
      with:
        path: "~/.cache/pip"
        key: "${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}"
        restore-keys: "${{ runner.os }}-pip-"
    - name: Set up cache
      uses: actions/cache@v3.3.2
      with:
        path: "${{ github.workspace }}/.cache/pip"
        key: "${{ runner.os }}-path"
    - run: pip install -r requirements.txt
    - run: make test
#     # This item has no matching transformer
#     - email: false
    strategy:
      matrix:
        python:
        - '3.8'
        - '3.8'
        - '3.8'
        - 3.8
